body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*  */
.input_date_formate {
  padding-right: 30px;
}
.input_date_formate_icon {
  width: 23px;
  border: none;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0px, -50%);
  z-index: 9;
}
.react-datepicker__day--selected {
  background-color: var(--kt-primary) !important;
}
