.ql-container {
  font-family: "Poppins" !important ;
}
.pagination {
  width: 100%;
}
.pagination ul {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}
.pagination ul li {
  margin: 0 10px;
}
.pagination ul li {
  list-style: none;
}

.pagination ul li.selected {
  color: white;
  background-color: #009270;
  padding: 5px 12px;
  border-radius: 8px;
}
.filterButton {
  position: relative;
}
.filterCard {
  position: absolute;
  display: flex !important;
  top: 85px;
}
